$gutter: 1em;

$h1: 2.027em;
$h2: 1.602em;
$h3: 1.424em;
$h4: 1.266em;
$h5: 1.125em;
$h6: 1em;
$sm: 80%;

$theme_text-color: #222;

$theme_primary: #0CABE0;
$theme_secondary: #00CABE;

$gray_ltr_a: rgba(black ,0.1);
$gray_ltr: #EEE;
$gray_lt_a: rgba(black, 0.25);
$gray_lt: #BBB;
$gray: gray;
$gray_dk: #555;
$gray_dkr: #333;

$theme_alert-warning: #FAD232;
$theme_alert-errors: #DD514C;
$theme_alert-success: #00CABE;
$theme_border: #CCC;

$theme_link: #00f;
$theme_link-hover: #f00;

$border: 2px solid;
$border_radius: 2px;

$grid_maxwidth: 1000px;
$grid_columns: 12;

$menu_background: #eee;
