$gutter: 1em;

$h1: 2.027em;
$h2: 1.602em;
$h3: 1.424em;
$h4: 1.266em;
$h5: 1.125em;
$h6: 1em;
$sm: 80%;

$theme_primary: #94C535;
$theme_secondary: #0A6FA7;
$theme_alerts: #BBA228;
$theme_alerts_errors: #BE4137;
$theme_alerts_success: #308E45;
$theme_border: fade-out(black, 0.9);

$theme_link: #00f;
$theme_link-hover: #f00;

$border: 0.125em solid;
$border_radius: 0.25em;

$grid_maxwidth: 1000px;
$grid_columns: 12;

$nav_background: #fff;
