@mixin linear-gradient($color1, $color2) {
  background-image: -webkit-linear-gradient($color1, $color2);
  background-image: linear-gradient($color1, $color2)
}

@mixin check-lightness($var) {
  @if lightness($var) < 50% {color: white}
  @else {}
}

@mixin disabled-state {
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    background-color: #EEE;
    color: #A9A9A9;
    border-color: #EEE;
    box-shadow: none;
    text-shadow: none;
    cursor: default;
  }
}

@mixin input-focus-state {
  &:focus {
    outline: 0;
    border-color: $theme_primary;
  }
}