* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form__control,
.btn {
  color: inherit;
  font-size: 1em;
  font-family: inherit;
  line-height: normal;
  text-transform: none;
}

.btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}
