%normalize-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

%bottom-gutter {
  margin-bottom: $gutter;
}

%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin linear-gradient($color1, $color2) {
  background-image: -webkit-linear-gradient($color1, $color2);
  background-image: linear-gradient($color1, $color2)
}

@mixin check-lightness($var) {
  @if lightness($var) < 50% {color: white}
}


%disabled-state {
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    background: #EEE;
    color: #A9A9A9;
    border-color: #EEE;
    box-shadow: none;
    text-shadow: none;
    cursor: default;
    pointer-events: none;
  }
}

%focus-state {
  &:focus, &:hover {
    outline: 0;
    border-color: $gray_lt_a;
    text-decoration: none;
  }
}

@mixin triangle($direction, $color, $size) {

  @if $direction == "left" {
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "right" {
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "up" {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if $direction == "down" {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
  }

  height: 0;
  width: 0;
}
