@import 'config';
@import 'reset';

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  color: $theme_text-color;
}

a {
  color: $theme_link;
  cursor: pointer;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}

@import 'utils';


// Common Components
@import 'components/grid';
@import 'components/menu';
@import 'components/alerts';
@import 'components/buttons';
@import 'components/media';
@import 'components/forms';
@import 'components/tables';

[hidden] {display: none;}
