@import 'config';
@import 'mixins';
@import 'reset';

body {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.4;
  color: $theme_text-color;
}

a {
  color: $theme_link;
  cursor: pointer;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}

// Base Styles
@import 'base/typography';
@import 'base/layout';

// Common Components
@import 'components/nav';
@import 'components/alerts';
@import 'components/buttons';
@import 'components/media';
@import 'components/forms';
@import 'components/tables';


[hidden] {display: none;}
