.btn {
  display: inline-block;
  border: var(--border);
  border-radius: var(--border_radius);
  padding: 0.75em 1.25em;
  cursor: pointer;
  /*box-shadow: var(--shadow);*/
}

.btn--primary {
  background-color: var(--theme_primary);
  color: white;
}

.btn--secondary {
  background-color: var(--theme_secondary);
  color: white;
}

.btn--tertiary {
  background-color: var(--theme_tertiary);
  color: white;
}

.btn:active {
  box-shadow: inset var(--shadow_2x);
}

[class*="btn--"]  {
  background-clip: border-box;
  text-shadow: 0 1px 1px var(--shade);
}

/* Bugfixes */
.btn + .btn,
.form__control + .btn {
  margin-left: 5px;
}

.btn.pull-right + .btn.pull-right {
  margin-right: 5px;
}
