.form > fieldset {
  padding: 0 2em 2em;
  border: var(--border);
  border-radius: var(--border_radius);
}

.form legend {
  padding: 1em;
  font-weight: bold;
}

.form__control,
.form__select {
  -webkit-appearance: none;
  display: block;
  background-image: none;
  transition: border 0.2s ease-out;
  width: 100%;
  border: var(--border);
  border-radius: var(--border_radius);
  padding: 0.75em;
  margin-bottom: var(--gutter);
}

.form__select {
  padding-right: 2rem;
}

.form__radio,
.form__checkbox {
  display: block;
  position: relative;
  padding-left: 2em;
  line-height: normal;
  margin: 0.5em 0;
}

.form__radio > input,
.form__checkbox > input {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-left: -2em;
}
