// Rows
.row {
    clear: both;
    overflow: hidden;
}

.row--cell {
    display: table;
    width: 100%;
    border-spacing: $gutter $gutter / 2;
}

.row--cell.row__unit {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
}

@for $i from 1 through $grid_columns {
  .col-#{$i} {
    width: ((100 / $grid_columns) * $i) * 1%;
  }
}

@for $i from 1 through $grid_columns {
  .col-#{$i}.fixed {
    width: (($grid_maxwidth / $grid_columns) * $i) * 1;
  }
}