%row {
  overflow: hidden;
  clear: both;
}

@for $i from 1 through $grid_columns {
  %fluid-columns-#{$i} {
    width: ((100 / $grid_columns) * $i) * 1%;
  }
}

@for $i from 1 through $grid_columns {
  %fixed-columns-#{$i} {
    width: (($grid_maxwidth / $grid_columns) * $i) * 1;
  }
}

// rows
.row {
    @extend %row;
}

.row--cell {
    display: table;
    width: 100%;
    border-spacing: $gutter $gutter / 2;
}

.row--cell.row__unit {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
}

// columns
@for $i from 1 through $grid_columns {
  .col-#{$i} {
    @extend %fluid-columns-#{$i};
  }
}

@for $i from 1 through $grid_columns {
  .col-#{$i}.fixed {
    @extend %fixed-columns-#{$i};
  }
}

