@mixin btn-variant($color) {
  background-color: $color;
  @include check-lightness($color);
}

@mixin btn {
  background: transparent;
  display: inline-block;
  border: 2px solid $gray_ltr_a;
  border-radius: $border_radius;
  padding: 0.5em 1em;
  cursor: pointer;

  &:active {
    background-image: none;
    box-shadow: inset 0 2px 0 fade-out(black, 0.9);
  }

  @extend %focus-state;
  @extend %disabled-state;
}

.btn {
  @include btn;
}

.btn--primary {
  @include btn-variant($theme_primary);
}
