.form {
  @extend %bottom-gutter;
}

.form label {
  display: block;
  font-weight: bold;
  min-width: 6em;
  margin: ($gutter/4) 0;
}

.form__control {
  display: block;
  border: $border $gray_ltr_a;
  border-radius: $border_radius;
  padding: 0.5em 1em;
  margin-bottom: $gutter;

  @extend %focus-state;
  @extend %disabled-state;
}
