@for $i from 1 through $grid_columns {
  %fluid-columns-#{$i} {
    width: ((100 / $grid_columns) * $i) * 1%;
  }
}

@for $i from 1 through $grid_columns {
  %fixed-columns-#{$i} {
    width: (($grid_maxwidth / $grid_columns) * $i) * 1;
  }
}

.grid {
  @extend %clearfix;
}

.grid__unit {
    float: left;
    padding: ($gutter/2);
}

.grid--table {
    display: table;
    width: 100%;
}

.grid--flex {
    display: flex;
    flex-flow: row wrap;
}

.grid--table > .grid__unit {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
}

.grid--flex > .grid__unit {
    flex: 1;
}

@for $i from 1 through $grid_columns {
  .col-#{$i} {
    @extend %fluid-columns-#{$i};
  }
}

@for $i from 1 through $grid_columns {
  .col-#{$i}--fixed {
    @extend %fixed-columns-#{$i};
  }
}

