@mixin media-obj() {
	.pull-left { float: left; }
	.pull-right { float: right; }
	 
	.media {
		display: block;
		overflow: hidden;
	}
	 
	.media__body {
		overflow: hidden;
		padding: ($gutter / 2);
		p { margin-top: 0; }
	}

	.media__img {
		border: none;
	}
}