@mixin show-menu {
  visibility: visible;
  opacity: 1;
}

@mixin hide-menu {
  visibility: hidden;
  opacity: 0;
}

.menu {
  background-color: $menu_background;
  @include check-lightness($menu_background);
  @extend %bottom-gutter;
  @extend %normalize-list;
  > li {display: inline-block}

}

.menu {
}

// basic block styles to extend
%menu__block {
  display: block;
  color: inherit;
  padding: $gutter;
}

.menu__item {
  @extend %menu__block;

  &:hover {
    @if lightness($menu_background) > 50% {
      background: rgba(black, 0.05);
    } @else {
      background: rgba(white, 0.15);
    }
    color: inherit;
    text-decoration: none;

    + .submenu { @include show-menu; }
  }
}

.menu__heading {
  @extend %menu__block;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
}

.menu--horizontal {
  > ul > li {display: inline-block}
  > ul > .menu__heading {border: none}
}

.has-submenu {
  position: relative;

  > .menu__item { padding-right: 2em;}
  > .menu__item::after {
    content: '';
    position: absolute;
    margin: 0.5em;
    @if lightness($menu_background) > 50% {
      @include triangle(down, rgba(black, 0.5), 5px);
    } @else {
      @include triangle(down, rgba(white, 0.5), 5px);
    }
  }
}

.submenu {
  @extend %normalize-list;
  @if lightness($menu_background) > 50% {
    background-color: white;
    border: 1px solid $gray_lt_a;
  } @else {
    background-color: mix(black, $menu_background, 10%);
  }

  min-width: 150px;
  border-radius: $border_radius;
  transition:
    visibility 500ms,
    opacity 250ms 250ms;
  position: absolute;
  left: -1em;
  right: -1em;
  @include hide-menu;

  &:hover {
    @include show-menu;
  }
}


