@mixin show-menu {
  visibility: visible;
  opacity: 1;
}

@mixin hide-menu {
  visibility: hidden;
  opacity: 0;
}

.nav {
  background-color: $nav_background;
  @include check-lightness($nav_background);
  @extend %bottom-gutter;
}

.nav ul {
  @extend %normalize;
}

// basic block styles to extend
%nav__block {
  display: block;
  color: inherit;
  padding: $gutter;
}

.nav__item {
  @extend %nav__block;

  &:hover {
    @if lightness($nav_background) > 50% {
      background: rgba(black, 0.05);
    } @else {
      background: rgba(white, 0.15);
    }
    color: inherit;
    text-decoration: none;

    + .subnav { @include show-menu; }
  }
}

.nav__heading {
  @extend %nav__block;
  border-bottom: 1px solid rgba(black, 0.10);
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
}

.nav--horizontal {
  > ul > li {display: inline-block}
  > ul > .nav__heading {border: none}
}

.has-subnav {
  position: relative;

  > .nav__item { padding-right: 2em;}
  > .nav__item::after {
    content: '';
    position: absolute;
    margin: 0.5em;
    @if lightness($nav_background) > 50% {
      @include triangle(down, rgba(black, 0.5), 5px);
    } @else {
      @include triangle(down, rgba(white, 0.5), 5px);
    }
  }
}

.subnav {
  @if lightness($nav_background) > 50% {
    background-color: white;
    border: 1px solid $gray_lt_a;
  } @else {
    background-color: mix(black, $nav_background, 10%);
  }

  min-width: 150px;
  border-radius: $border_radius;
  transition: 
    visibility 500ms, 
    opacity 250ms 250ms;
  position: absolute;
  left: -1em;
  right: -1em;
  @include hide-menu;

  &:hover { 
    @include show-menu;
  }
}


