@import "base/_root.css";
@import "base/_reset.css";

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

a {
  color: var(--theme_link);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* components */
@import "components/_type.css";
@import "components/_grid.css";
@import "components/_menu.css";
@import "components/_alerts.css";
@import "components/_buttons.css";
@import "components/_media.css";
@import "components/_forms.css";
@import "components/_tables.css";

/* utilities */
@import "utils/_utils.css";

/* attribute helpers */
[disabled] {
  background: #EEE;
  color: #A9A9A9;
  border-color: #EEE;
  box-shadow: none;
  text-shadow: none;
  cursor: default;
  pointer-events: none;
}

[hidden] {display: none;}
